<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>manualSort</key>
		<false/>
		<key>presets</key>
		<array>
			<dict>
				<key>locked</key>
				<false/>
				<key>name</key>
				<string>Speakers</string>
				<key>settings</key>
				<dict>
					<key>band0</key>
					<real>0.5347292423248291</real>
					<key>band1</key>
					<real>0.74550861120223999</real>
					<key>band2</key>
					<real>0.58891069889068604</real>
					<key>band3</key>
					<real>0.52875000238418579</real>
					<key>band4</key>
					<real>0.64416700601577759</real>
					<key>band5</key>
					<real>0.69208300113677979</real>
					<key>band6</key>
					<real>0.70166701078414917</real>
					<key>band7</key>
					<real>0.67833298444747925</real>
					<key>band8</key>
					<real>0.60583299398422241</real>
					<key>band9</key>
					<real>0.5</real>
					<key>preamp</key>
					<real>0.58252149820327759</real>
				</dict>
				<key>type</key>
				<string>SS10BandEQPreset</string>
				<key>uuid</key>
				<string>1B7AA417-266E-4070-A63A-2E5CE9FFF89D</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>locked</key>
				<false/>
				<key>name</key>
				<string>XBEAST V1</string>
				<key>settings</key>
				<dict>
					<key>band0</key>
					<real>0.60896378755569458</real>
					<key>band1</key>
					<real>0.78634238243103027</real>
					<key>band2</key>
					<real>0.69003033638000488</real>
					<key>band3</key>
					<real>0.55541700124740601</real>
					<key>band4</key>
					<real>0.46517589688301086</real>
					<key>band5</key>
					<real>0.40422570705413818</real>
					<key>band6</key>
					<real>0.44395244121551514</real>
					<key>band7</key>
					<real>0.5</real>
					<key>band8</key>
					<real>0.53520369529724121</real>
					<key>band9</key>
					<real>0.58141446113586426</real>
					<key>preamp</key>
					<real>0.24848178029060364</real>
				</dict>
				<key>type</key>
				<string>SS10BandEQPreset</string>
				<key>uuid</key>
				<string>3B3BA8EF-8A7D-4E0F-A352-5B52F1F025D9</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>locked</key>
				<false/>
				<key>name</key>
				<string>XBEAST V1 BASS</string>
				<key>settings</key>
				<dict>
					<key>band0</key>
					<real>1</real>
					<key>band1</key>
					<real>1</real>
					<key>band2</key>
					<real>0.79456603527069092</real>
					<key>band3</key>
					<real>0.55541700124740601</real>
					<key>band4</key>
					<real>0.46517589688301086</real>
					<key>band5</key>
					<real>0.40422570705413818</real>
					<key>band6</key>
					<real>0.44395244121551514</real>
					<key>band7</key>
					<real>0.5</real>
					<key>band8</key>
					<real>0.53520369529724121</real>
					<key>band9</key>
					<real>0.58141446113586426</real>
					<key>preamp</key>
					<real>0.24819710850715637</real>
				</dict>
				<key>type</key>
				<string>SS10BandEQPreset</string>
				<key>uuid</key>
				<string>6C0EDC73-91F9-43ED-BC2D-376D1FDC4FF0</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>locked</key>
				<false/>
				<key>name</key>
				<string>XBEAST V2</string>
				<key>settings</key>
				<dict>
					<key>band0</key>
					<real>0.60916697978973389</real>
					<key>band1</key>
					<real>0.78833299875259399</real>
					<key>band2</key>
					<real>0.73541700839996338</real>
					<key>band3</key>
					<real>0.55541700124740601</real>
					<key>band4</key>
					<real>0.40874999761581421</real>
					<key>band5</key>
					<real>0.4375</real>
					<key>band6</key>
					<real>0.59666699171066284</real>
					<key>band7</key>
					<real>0.61041700839996338</real>
					<key>band8</key>
					<real>0.625</real>
					<key>band9</key>
					<real>0.65625</real>
					<key>preamp</key>
					<real>0.25145494937896729</real>
				</dict>
				<key>type</key>
				<string>SS10BandEQPreset</string>
				<key>uuid</key>
				<string>42BAE21F-16FB-4AC8-A402-F68E755F8249</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>locked</key>
				<false/>
				<key>name</key>
				<string>XBEAST V2 BASS</string>
				<key>settings</key>
				<dict>
					<key>band0</key>
					<real>1</real>
					<key>band1</key>
					<real>1</real>
					<key>band2</key>
					<real>1</real>
					<key>band3</key>
					<real>0.55541700124740601</real>
					<key>band4</key>
					<real>0.40874999761581421</real>
					<key>band5</key>
					<real>0.4375</real>
					<key>band6</key>
					<real>0.59666699171066284</real>
					<key>band7</key>
					<real>0.61041700839996338</real>
					<key>band8</key>
					<real>0.625</real>
					<key>band9</key>
					<real>0.65625</real>
					<key>preamp</key>
					<real>0.24807059764862061</real>
				</dict>
				<key>type</key>
				<string>SS10BandEQPreset</string>
				<key>uuid</key>
				<string>BB64433E-E6FF-4C72-9A15-80C3F038FAFF</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>type</key>
		<string>SSPresetGroup</string>
		<key>uuid</key>
		<string>com.rogueamoeba.10-Band EQ</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
