<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>manualSort</key>
		<false/>
		<key>presets</key>
		<array>
			<dict>
				<key>locked</key>
				<false/>
				<key>name</key>
				<string>XBEAST (Headphones) - Balanced</string>
				<key>settings</key>
				<dict>
					<key>band0</key>
					<real>0.6083333333333334</real>
					<key>band1</key>
					<real>0.7875</real>
					<key>band2</key>
					<real>0.7375</real>
					<key>band3</key>
					<real>0.5541666666666667</real>
					<key>band4</key>
					<real>0.4083333333333333</real>
					<key>band5</key>
					<real>0.4375</real>
					<key>band6</key>
					<real>0.5958333333333333</real>
					<key>band7</key>
					<real>0.5083333333333333</real>
					<key>band8</key>
					<real>0.49166666666666664</real>
					<key>band9</key>
					<real>0.6583333333333333</real>
					<key>preamp</key>
					<real>0.125</real>
				</dict>
				<key>type</key>
				<string>SS10BandEQPreset</string>
				<key>uuid</key>
				<string>4C6F8E12-7A1B-4C9D-8E2A-1B3C5D7E9F01</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>locked</key>
				<false/>
				<key>name</key>
				<string>XBEAST (Headphones) - Punchy Bass</string>
				<key>settings</key>
				<dict>
					<key>band0</key>
					<real>0.6791666666666667</real>
					<key>band1</key>
					<real>0.875</real>
					<key>band2</key>
					<real>0.7708333333333334</real>
					<key>band3</key>
					<real>0.5541666666666667</real>
					<key>band4</key>
					<real>0.4083333333333333</real>
					<key>band5</key>
					<real>0.4375</real>
					<key>band6</key>
					<real>0.5958333333333333</real>
					<key>band7</key>
					<real>0.5375</real>
					<key>band8</key>
					<real>0.5416666666666666</real>
					<key>band9</key>
					<real>0.6583333333333333</real>
					<key>preamp</key>
					<real>0.041666666666666664</real>
				</dict>
				<key>type</key>
				<string>SS10BandEQPreset</string>
				<key>uuid</key>
				<string>5D7A9F23-8B2C-4D0E-9F3B-2C4D6E8F0A12</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>locked</key>
				<false/>
				<key>name</key>
				<string>XBEAST (Headphones) - Heavy Bass</string>
				<key>settings</key>
				<dict>
					<key>band0</key>
					<real>1.0</real>
					<key>band1</key>
					<real>1.0</real>
					<key>band2</key>
					<real>1.0</real>
					<key>band3</key>
					<real>0.5541666666666667</real>
					<key>band4</key>
					<real>0.4083333333333333</real>
					<key>band5</key>
					<real>0.4375</real>
					<key>band6</key>
					<real>0.5958333333333333</real>
					<key>band7</key>
					<real>0.6125</real>
					<key>band8</key>
					<real>0.625</real>
					<key>band9</key>
					<real>0.6583333333333333</real>
					<key>preamp</key>
					<real>0.0</real>
				</dict>
				<key>type</key>
				<string>SS10BandEQPreset</string>
				<key>uuid</key>
				<string>6E8B0A34-9C3D-4E1F-A04C-3D5E7F9A1B23</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>locked</key>
				<false/>
				<key>name</key>
				<string>XBEAST (IEMs) - Balanced</string>
				<key>settings</key>
				<dict>
					<key>band0</key>
					<real>0.6083333333333334</real>
					<key>band1</key>
					<real>0.7875</real>
					<key>band2</key>
					<real>0.7375</real>
					<key>band3</key>
					<real>0.5541666666666667</real>
					<key>band4</key>
					<real>0.4083333333333333</real>
					<key>band5</key>
					<real>0.4375</real>
					<key>band6</key>
					<real>0.5958333333333333</real>
					<key>band7</key>
					<real>0.39166666666666666</real>
					<key>band8</key>
					<real>0.4666666666666667</real>
					<key>band9</key>
					<real>0.6583333333333333</real>
					<key>preamp</key>
					<real>0.125</real>
				</dict>
				<key>type</key>
				<string>SS10BandEQPreset</string>
				<key>uuid</key>
				<string>2F522CB5-6422-4F33-8A25-02B97A1F5D14</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>locked</key>
				<false/>
				<key>name</key>
				<string>XBEAST (IEMs) - Punchy Bass</string>
				<key>settings</key>
				<dict>
					<key>band0</key>
					<real>0.6791666666666667</real>
					<key>band1</key>
					<real>0.875</real>
					<key>band2</key>
					<real>0.7708333333333334</real>
					<key>band3</key>
					<real>0.5541666666666667</real>
					<key>band4</key>
					<real>0.4083333333333333</real>
					<key>band5</key>
					<real>0.4375</real>
					<key>band6</key>
					<real>0.5958333333333333</real>
					<key>band7</key>
					<real>0.4708333333333333</real>
					<key>band8</key>
					<real>0.4791666666666667</real>
					<key>band9</key>
					<real>0.6583333333333333</real>
					<key>preamp</key>
					<real>0.041666666666666664</real>
				</dict>
				<key>type</key>
				<string>SS10BandEQPreset</string>
				<key>uuid</key>
				<string>7552E00D-BD56-47B5-B5A2-B2B987BE740C</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>locked</key>
				<false/>
				<key>name</key>
				<string>XBEAST (IEMs) - Heavy Bass</string>
				<key>settings</key>
				<dict>
					<key>band0</key>
					<real>1.0</real>
					<key>band1</key>
					<real>1.0</real>
					<key>band2</key>
					<real>1.0</real>
					<key>band3</key>
					<real>0.5541666666666667</real>
					<key>band4</key>
					<real>0.4083333333333333</real>
					<key>band5</key>
					<real>0.4375</real>
					<key>band6</key>
					<real>0.5958333333333333</real>
					<key>band7</key>
					<real>0.5541666666666667</real>
					<key>band8</key>
					<real>0.575</real>
					<key>band9</key>
					<real>0.6583333333333333</real>
					<key>preamp</key>
					<real>0.0</real>
				</dict>
				<key>type</key>
				<string>SS10BandEQPreset</string>
				<key>uuid</key>
				<string>EA3A4BA8-061C-4430-B9E8-36632AE6772A</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>type</key>
		<string>SSPresetGroup</string>
		<key>uuid</key>
		<string>com.rogueamoeba.10-Band EQ</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
